.right-header
  .right-header__box
    %h.right-header__group-name
      = @group.name
    %ul.right-header__member-list
      Member:
      %li.right-header__member1
        - while @membernum != 0 do
          = @group.users[@membernum-1][:name]
          - @membernum -= 1
  %a.right-header__menu
    =link_to edit_group_path(@group.id), class: "right-header__btn" do
      Edit